# Node.js dependencies
node_modules/
dist/
build/

# Environment files
.env
.env.local

# Terraform folders and state
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfstate
terraform.tfstate.backup

# Terraform logs e providers
*.log
*.lock.hcl
infra/.terraform/
infra/.terraform/**      # ignora tudo dentro da pasta .terraform
infra/.terraform/providers/**

# Sistemas e editores
.DS_Store
*.swp
*.swo
.vscode/
*.idea/

# Testes e coverage
coverage/
*.spec.js

# Imagens temporárias e binários pesados
*.png
*.jpg
*.jpeg
*.exe
*.dll

# Outras extensões grandes ou desnecessárias
*.zip
*.tar.gz
*.bak
